
.filter {
  padding: 5px;
  &__check {
    display: flex;
  }

  &__checkbox {
    order: -1;
    margin-right: 5px;
  }

  > * {
    margin: 10px 0;
  }
}

@media screen and (min-width: 992px) {
  .filter {
    display: flex;
    flex-direction: column;

    &__check {
      justify-content: space-between;
    }

    &__checkbox {
      order: 1;
    }
  }
}