.beer-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  &__image {
    height: 50vh;
    object-fit: contain;
    margin: 30px;
  }
  &__food-item {
    margin-left: 30px;
  }
}