@use "../../assets/sass/variables" as *;

.beer-info {
  background: $colour-gray;
  background: $background-grad;
}

@media screen and (min-width: 992px) {
  .beer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}