@use "../../assets/sass/variables" as *;

.filter-menu {
  display: none;
  background-color: $colour-gray;
  border-right: 1px solid $colour-black;

}

.search {
  background-color: $colour-gray;
  border-bottom: 1px solid $colour-black;
}

@media screen and (min-width: 992px) {
  .filter-menu{
    display: block;
    grid-area: 2 / 1 / 3 / 2;
  }

  .home {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
  }

  .search {
    grid-area: 1 / 1 / 2 / 3;
  }

  .card-con {
    grid-area: 2 / 2 / 3 / 3; 
  }
}