@use "../../assets/sass/variables" as *;

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colour-primary;
  padding: 20px;
  &__title {
    text-transform: uppercase;
    font-family: $font-header;
    font-size: 3rem;
    font-weight: 400;
  }
  &__home {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__title{
      font-size: 4rem;
    }
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__home{
      display: flex;
      justify-content: flex-end;
    }
  }
}