@use "../../assets/sass/variables" as *;

.footer {
  background-color: $colour-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.link {
  text-decoration: underline;
}