.beer-recipe {
  padding: 10px;
  &__title{
    margin: 10px 0;
  }
  &__subtitle{
    margin: 5px 0;
  }
  &__list-title {
    font-size: 1rem;
    margin: 0 5px;

  }
  &__text {
    font-size: 0.9rem;
    margin: 0 10px;
  }
  &__list{
    list-style: none;
    font-size: 0.9rem;
    margin: 0 15px;

  }
}