@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik+Dirt&display=swap');

$font-header: 'Rubik Dirt',Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,'Arial Black',sans serif; 

$font-default: 'Noto Sans',Helvetica Neue,Helvetica,Arial,sans-serif;

$colour-primary: #75c6de;
$colour-gray: #d0d0d0;
$colour-black: #111111;

$background-grad: linear-gradient(180deg, $colour-gray 0%, $colour-gray 10%, white 20%, white 30%, $colour-gray 40%, $colour-gray 50%, white 60%, white 70%, $colour-gray 80%, $colour-gray 90%, white 100%);