@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik+Dirt&display=swap');

$font-header: 'Rubik Dirt',Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 

$font-default: 'Noto Sans',Helvetica Neue,Helvetica,Arial,sans-serif;

$colour-primary: #75c6de;
$colour-gray: #f3f3f5;
$colour-black: #111111;